body {
    font-family: 'Rubik', sans-serif;
    background: rgb(75,135,255);
    background: linear-gradient(333deg, rgba(75,135,255,1) 0%, rgba(193,227,255,1) 100%);
}
header {
    text-align: center;
    padding-top: 25px;
}
h1{
    color: #002d88;
    font-weight: 700;
}
p, ol {
    font-weight: 300;
    padding-left: 50px;
    padding-bottom: 25px;
    line-height: 1.5em;
    word-spacing: .15em;
    max-width: 500px;
}
p:last-of-type {
    padding-bottom: 0;
}
#content{
    margin: auto;
    max-width: 600px;
    padding: 50px;
    background-color: aliceblue;
    margin-top: 25px;
    margin-bottom: 25px;
}
#images{
    text-align: center;
}