body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background: rgb(66,255,57);
    background: linear-gradient(333deg, rgba(66,255,57,1) 0%, rgba(108,188,255,1) 100%);
}
header {
    text-align: center;
    padding-top: 25px;
}
h1, h2{
    color: #002d88;
    font-weight: 700;
    text-align: center;
}
h3 {
    padding-left: 50px;
    padding-top: 25px;
}
p {
    font-weight: 300;
    padding-left: 50px;
    padding-bottom: 25px;
    line-height: 1.5em;
    word-spacing: .15em;
    max-width: 500px;
}
.citation{
    font-size: 12px;
    margin-top: 0;
}
#content{
    margin: auto;
    max-width: 600px;
    padding: 50px;
    background-color: aliceblue;
    margin-top: 25px;
    margin-bottom: 25px;
}
#images{
    text-align: center;
}
#content .analysisimg {
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding-bottom: 10px;
}